@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --White: hsl(0, 0%, 100%);
    }

*{
    padding: 0px;
    margin: 0px;
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
}

h1{
    font-weight: 400;
    color: white;
}

input{
    background-color: #F2A728;
    color: black;
    width: 140px;
    height: 35px;
    text-align: center;
}

.instructions{
    background-color: #F2A728;
    color: black;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avg{
    width: 140px;
    background-color: #F2A728;
    color: black;
    height: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#background{
    background-color: #87CEEB;
    height:auto;
    width: 100%;
    background-image: url("./assets/header.png"), url("./assets/footer.png");
    background-repeat: no-repeat, no-repeat;
    background-position: right 0vw top 0vh, right -1vw bottom -20vh;
    background-size: 100%, 110%;  
} 

#Card1 , #Card2{
    background-color: #0B4424;
}


@media screen and (min-width: 640px) {
    #background{
        height: 100vh;
        width: 100%;
        background-image: url("./assets/header.png"), url("./assets/footer.png");
        background-repeat: no-repeat, no-repeat;
        background-position: right 0vw bottom 10vh, right -1vw top 40vh;
        background-size: 100%, 110%;  
    } 

    input{
        background-color: #F2A728;
        color: black;
        width: 200px;
        height: 50px;
        text-align: center;
    }

    .avg{
        width: 200px;
        background-color: #F2A728;
        color: black;
        height: 50px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

  } 