@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --White: hsl(0, 0%, 100%);
    }

*{
    padding: 0px;
    margin: 0px;
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
}

h1{
    font-weight: 400;
    color: white;
}

input{
    background-color: #F2A728;
    color: black;
    height: 35px;
    text-align: center;
}

footer{
    height: 100px;
}

.instructions{
    background-color: #F2A728;
    color: black;
    height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avg{
    width: 140px;
    background-color: #F2A728;
    color: black;
    height: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#App{
    background-color: #87CEEB;;
}

#Card1 , #Card2{
    background-color: #0B4424;
}


@media screen and (min-width: 640px) {
    input{
        background-color: #F2A728;
        color: black;
        width: 200px;
        height: 50px;
        text-align: center;
    }

    .avg{
        width: 200px;
        background-color: #F2A728;
        color: black;
        height: 50px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1{
        translate: 0px -95px;
    }
  } 